USE [hunglotto]
GO
/****** Object:  Table [dbo].[lotto]    Script Date: 6/25/2023 4:29:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lotto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date_column] [date] NULL,
	[value_column] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[lotto] ON 

INSERT [dbo].[lotto] ([id], [date_column], [value_column]) VALUES (1, CAST(N'2002-01-01' AS Date), N'69855')
INSERT [dbo].[lotto] ([id], [date_column], [value_column]) VALUES (2, CAST(N'2002-01-02' AS Date), N'31012')
INSERT [dbo].[lotto] ([id], [date_column], [value_column]) VALUES (3, CAST(N'2002-01-03' AS Date), N'03953')
GO
SET IDENTITY_INSERT [dbo].[lotto] OFF
GO
/****** Object:  Index [UQ__lotto__0FFC82516322E4BF]    Script Date: 6/25/2023 4:29:05 PM ******/
ALTER TABLE [dbo].[lotto] ADD UNIQUE NONCLUSTERED 
(
	[date_column] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
